
@import url('https://fonts.googleapis.com/css2?family=Georama:wght@400;500;600;700&display=swap');
.home-landing-container{
    background: url('../../IMAGES1/home_page_banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1,h2,h3,h4,p{
    font-family: 'Georama', sans-serif;
    font-weight: 400;
}
*:focus{
    outline: none;
    text-decoration: none;
}
.landing-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-page>div{
      margin: 2rem;
      padding: 1rem;
      width: 23rem;
      color: white;
      border-radius: 20px;
      height: 23rem;
       display: flex;
       flex-direction: column;
    
    justify-content: space-between;
}


.influencer-page-cont{
    
    background: linear-gradient(to bottom, #DB422E  ,#E7682F );
 
}
 
.influencer-page-cont button:hover{
    background: linear-gradient(to bottom, #DB422E  ,#E7682F );
    box-shadow: white 0px 1px 25px 2px;
    color: white;
    transform: scale(1.05);
}
.brand-page-cont{
    background: linear-gradient(to top,#e965dc  , #AA3EA0 );
    
}
.brand-page-cont button:hover{
    background: linear-gradient(to top,#e965dc  , #AA3EA0 );
    box-shadow: white 0px 1px 25px 2px;
    color: white;
    transform: scale(1.05);
}
.landing-page>div>h1{
    font-size: 3.4rem;
    margin: 1rem;
    margin-top: 2.5rem;
}

.landing-page>div>button{
   
    margin: 1rem;
    margin-bottom: 3rem;
    width: calc( 100% - 2rem );
    border: none;
    height: 2.7rem;
     border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    font-size: 1.3rem;
}
.landing-page>div>button{
    background: white;
    color: black;
    transition: all 0.3s ease;
}
.quote-wrapper{

    background-image: url('../../IMAGES1//website_bg.jpg');
    background-size: 15rem;
    padding:1rem 2rem;
    color: white;
   
}

.quote-wrapper>p{
    padding:4rem 2rem;
    text-align: center;
}
 
.global-tech-wrapper{
    width: 100%;
    height: 28rem;
    background-image: url('../../IMAGES1//website_bg.jpg');
    background-size: 15rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: -111;
}
.global-tech-cont{
    position: relative;
    width: 95%;
    height: 95%;
    background: linear-gradient(to right, #F15A24 , #F7931E  );
    border-radius: 0 30px 0 0;
    z-index: -11;
}

.global-tech-cont>.big-text-cont{
     position: absolute;
     z-index: -1;
     
 }
 .big-text-cont>img{
     width: 100%;
     height: auto;
      
     margin-top: 1rem;
 }
 
.small-text-cont{
    padding:5rem 4rem 3rem;
    color: white;
}
 .small-text-cont>h2{
    font-size: 4.5rem;
 }
 .small-text-cont>h1{
    font-size: 6rem;
 }
 .small-text-cont>h3{
    font-size: 3rem;
 }

 .big-heading-links-wrapper{
     position: relative;
     color: transparent;
     background-color: black;
     z-index: 0;
     width: 100%;
 }
.big-heading-link-cont>div{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .background-heading{
     position: absolute;
      top: 0rem;
      margin-top:-1.5rem ;
      left: 0;
      display: none;
      width: 100%;
      text-align: center;
 }
 
 .background-heading>h1{
     font-size: 6.5rem;
     opacity: 0.3;
     padding: 0 1rem;
     font-family: 'Georama', sans-serif;
     font-weight: 700;
       width: 100%;
     -webkit-text-stroke-width:0.4px;
     -webkit-text-stroke-color: #fff;
 }

 .big-heading-link-cont{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 3rem 0rem;
     position: relative;
     width: 100%;
     z-index: 0;
 }
 .big-heading-link-cont>div:hover .background-heading{
     display: block;
 }
  
 .big-heading-link-cont>div>h1{ 
     font-size: 3.2rem;
     font-family: 'Georama', sans-serif;
     font-weight: 700; 
     background: linear-gradient(to right, #F15A24 , #F7931E  );
      background-clip: text;
     -webkit-text-stroke-width:0.4px;
     -webkit-text-stroke-color:   #F15A24  ;
    display: inline-block;
    vertical-align: top;
    position: relative; 
    cursor: pointer;
    font-size: 4rem;
     margin-bottom: -0.2rem;
     height: 100%;
     text-align: center;
   
 }

 .big-heading-link-cont>div>h1:before{ 
     transition: height 0.6s ease;
     content: attr(data-text);
     position: absolute;
     overflow: hidden;
     font-weight: 700;
      height: 100%; 
      color: black;
      font-size:4rem;
      -webkit-text-stroke-width:0.4px;
      -webkit-text-stroke-color:   white  ; 
     left: 0;
     top: 0;
     text-align: center;
 }
 .big-heading-link-cont>div>h1:hover:before{
     height: 0;
 }
 

   
  .our-influencer-wrapper{
      display: flex;
      width: 100%;
       background-image: url('../../IMAGES1//website_bg.jpg');
      background-size: 13rem;
  }

  .our-influencer-wrapper>.influencers{
      display: flex;
      overflow: hidden;
      height: 35rem;
      /* background-color: #AA3EA0; */
      margin: 2rem 0;
      margin-left: 5rem;
      width: calc( 50% - 5rem );
       
  }
  
  .influencers>div{
      width: 100%;
      height: 35rem;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .influencer-img{
      width: 100%;
      height: auto;
  }
   .influencer-data{
       
       color: white;
       width: 50%;
       
       display: flex;
       flex-direction: column;
       justify-content: center;
       padding-left: 5rem;
   }
.influencer-data>div{
    padding: 0.5rem 3rem;
}
   .influencer-data>div>h1{
       font-size: 5rem;
       color: orange;
       background: linear-gradient(to right, #F15A24 , #F7931E  );
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       background-clip: text;
       font-weight: 600;
   }
   .plateform-wrapper{
    width: 100%;
    height: auto;
    background-image: url('../../IMAGES1//website_bg.jpg');
   background-size: 13rem;
   display: flex;
   justify-content: end;
}
 .global{
     width: 95%;
     background: linear-gradient(to right, #F15A24 , #F7931E  );
     border-radius: 0 0 0 30px; 
     display: flex;
     
 }
  .global>*{
      width: 50%; 
      height: 50rem;
      padding: 1rem;
  }
 .global-img-cont{
     position: relative;
 }
  .global-img-cont img {
    position: absolute;
     margin: 10%;
     width: 80%;
    height: 83%;
    animation: imgmove 0.6s ease-in-out;
    animation-fill-mode: backwards;
   
}
.active-mark-img{
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 0 0 0.2rem;

}
.inactive-mark-img{
    width: 1.3rem;
    height: 1.3rem;
    margin: 0 0 0 0.2rem;
transform: rotate(90deg);
}
.techImg{
    animation: imgmove 0.6s ease-in-out;
    animation-fill-mode: backwards;
}

.talentImg{
    animation: imgmove 0.6s ease-in-out;
    animation-fill-mode: backwards;
}
.marketingImg{
    animation: imgmove 0.6s ease-in-out;
    animation-fill-mode: backwards;
}
@keyframes imgmove{

    from{
        height: 0;
        opacity: 0;
    }
    to{
        height:83% ;
        opacity: 1;
    }
}
 
/* .global-img-cont>img.second{
    top: 4.5rem;
    left: 5.5rem;
}
.global-img-cont>img.third{
    top: 6rem;
    left:7rem;
} */
.global-text-cont{
     display: flex;
     text-align: start;
     justify-content: center;
     align-items: flex-start;
     flex-direction: column;
}
 
 .global-text-cont>div>h1{
    font-size: 3.2rem;
    color: transparent;
    font-family: 'Georama', sans-serif;
    font-weight: 700;
    -webkit-text-stroke-width:0.4px;
    -webkit-text-stroke-color: #fff;
    
}

  
 
 .global-text-cont>div>div{                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
    position: relative;
  animation: mymove 1s ease-out;
  color: white;
  transition-timing-function: ease;

  overflow: hidden;
  animation-fill-mode: backwards;
 }
 .global-text-cont>div>div>h1{
     font-size: 3.2rem;
     font-weight: 700;
     color: black;
 }
 .global-text-cont>div>div>p{
    font-size: 1.3rem;
    font-weight: 400;
     
}
.global-text-cont>div h1:hover{
    cursor: pointer;
}
 @keyframes mymove {
    from {opacity: 0;
    transform: rotateX(-90deg);
 
}
    to {opacity:  1;
    transform: rotateX(0deg); 
    }
  }
 .clients-wrapper{
    background-image: url('../../IMAGES1//website_bg.jpg');
    background-size: 15rem;
    width: 100%;
 }
.client-heading-wrapper{
    width: 100%;
}
 .client-heading{
     position: relative;
     margin-left: 5%;
     border-radius: 30px 0 0 0;
     background: linear-gradient(to left, #F15A24 , #F7931E  );
     height: 15rem;
    
 }
.back-img{
   padding: 1rem;
}
 .back-img>img{
     position: absolute;
     width: calc(100% - 2rem );
      top: 1rem;
 }

 .client-heading>.text{
     text-align: end;
     padding:0 4rem ;
     color: white;
 }

 .text>h1{
     font-size: 5.5rem;
 }

 .text>p{
     font-size: 1.8rem;
 }
.brands-cont{
    padding: 3rem ;
}

.brands-img-wrap{
    height: 14rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;

}
.brands-img-wrap>img{
     width: 12rem;
     filter: grayscale(100%);
     transition: transform 0.3s ease-out;
 }
 .brands-img-wrap>img:hover{
     filter: grayscale(0%);
     transform: scale(1.05);
 }

 .ready-to-join-us{
     position: relative;
     background-image: url('../../IMAGES1//website_bg.jpg');
     background-size: 15rem;
     z-index: 1;
     overflow: hidden;
     height: 38rem;
 }

 .ready-to-join-us>img{
     position: absolute;
 }

 img.keyboard{
     width: 50rem;
     top: -28rem;
     left: -14rem;
      z-index: -1;
 }
 img.book{
    width: 35rem;
    bottom: -15rem;
    left: -12rem;
     z-index: -1;
}
img.pen{
    width: 35rem;
    bottom: -30rem;
    left: 0rem;
     z-index: -1;
}
img.joinus{
     width: 65%;
     top: 9rem;
     right: 1rem;
     z-index: -1;
}

.upper-cont{
    width: 100%;
    display: flex;
    flex-direction:column ;
    align-items: flex-end;
}
.upper-cont>h1{
    font-size: 6rem;
    width: 45%;
    padding: 4rem;
    color: white;
    font-weight: 500;
}
.upper-cont>form{
   
    width: 53%;
    
    color: white;
    height: 5.5rem;
    margin-right: 5rem;
    background-color: white;
    border-radius:  0 0 10px 0;
}

.upper-cont input{
    width: 60%;
    height: 100%;
    border: none;
    color: black;
    padding:0 2rem ;
    font-size: 1.3rem;
}
.upper-cont button{ 
    padding: 0.5rem;
    margin: 1rem;
    width: calc( 40% - 2rem );
    height: 3.3rem;
    border: none;
    background: linear-gradient(to right, #F15A24 , #F7931E  );
    border-radius: 10px 0 0 0;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
}
.small-text-cont>h1{
    font-size: 5rem;

}
.small-text-cont>p{
    font-size: 1.8rem;
    padding-top: 3rem;
}
@media (max-width:725px){
    .landing-page{
        height: auto;
        padding-top:4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .landing-page>div{
        margin:2rem;
        padding:1rem;
        width: 18rem;
        color: white;
        border-radius: 20px;
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
  }
  .landing-page>div>h1{
        font-size: 2.5rem;
  }
  .quote-wrapper{
      position: relative;
      padding: 0;
  } 
   .quote-wrapper>p{
       padding: 2rem 1rem;
   }
  .quote-wrapper>p>img{
      width: 2rem;
      margin:0 1rem;
  }
  .quote-wrapper>p>.left{
      margin: -1rem 1rem 0 0;
  }
  .quote-wrapper>p>.right{
    margin: 0 0 -1rem 1rem;
}
.big-text-cont{
    width: 100%;
    height: auto;
}
.global-tech-wrapper{
height: 8rem;
}
.big-text-cont>img{
    height: 5rem;
    width: auto;
}
  .small-text-cont{
    padding: 1rem;
    color: white;
}
 .small-text-cont>h2{
    font-size:1.7rem;
 }
 .small-text-cont>h1{
    font-size: 2rem;
 }
 .small-text-cont>h3{
    font-size:1.1rem;
 }
 .global{
     display: flex;
     flex-direction: column;
 }
 .global>div{
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 .global-img-cont{
     width: 100%; 
     padding: 0 1rem;
     height: 37rem;

 }
 .global-img-cont>div{
     width: 100%;
     height: 100%;
     display: flex;
    
     justify-content: center;
     align-items: center;
     position: relative;
 }
 .global-img-cont>div>img{
     width: 70%;
     margin:2rem 15% 2rem 9%;
     height: auto;
     position: absolute; 
 }
 
 
.global-img-cont>img{
    width:11rem;
    height: auto;
    margin-bottom: 0;
}
 .active-img{
     top:9%;
     z-index: 1;
     left: 9%;
 }
 .passive1{
     top:3%;
     left:3%;
 }
 .passive2{
     top:6%;
     left: 6%;
 }
 .global-text-cont{
     height: auto;
 }
 .global-text-cont>div>div>h1{
     font-size: 1.6rem;
     text-align: center;
 }
 .global-text-cont>div>div>p{
     font-size: 12px;
     text-align: center;
 }
/* .global-text-cont>div>h1{
    
    font-family: 'Georama', sans-serif;
    font-weight: 700; 
    color: black; 
   display: inline-block;
   width: 100%;
   vertical-align: top;
   position: relative; 
   justify-content: center;
   cursor: pointer;
   text-align: center;
   font-size:1.5rem;
 } */
 .global-text-cont>div{
     width: 100%;
     display: flex;
     justify-content: center;
     position: unset;
     align-items: center;
 }
 .global-text-cont>div>h1 {
    transition:  none;
    content: attr(data-text);
    overflow: hidden;
   
       
     background: linear-gradient(to right, #F15A24 , #F7931E  );;
     -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       background-clip: text;
     font-family: 'Georama', sans-serif;
     font-weight: 700;
     -webkit-text-stroke-width:0.3px;
     -webkit-text-stroke-color: #fff;
     font-size:1.7rem; 
     text-align: center;
     z-index: 1;
     height: 100%;
     position: unset;
     
 }
  
 

 .background-heading>h1{
    font-size:2rem;
    opacity: 0.3;
    padding: 0 1rem;
    font-family: 'Georama', sans-serif;
    font-weight: 700;
     
    -webkit-text-stroke-width:0.4px;
    -webkit-text-stroke-color: #fff;
}

.big-heading-link-cont{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0rem;
    position: relative;
    z-index: 0;
}
.big-heading-link-cont>div>h1{ 
   padding: 0 1rem;
    font-family: 'Georama', sans-serif;
    font-weight: 700; 
    background: linear-gradient(to right, #F15A24 , #F7931E  );
     background-clip: text;
    -webkit-text-stroke-width:0.4px;
    -webkit-text-stroke-color:   #F15A24  ;
   display: inline-block;
   vertical-align: top;
   position: relative; 
   cursor: pointer;
   font-size: 1.2rem;
    margin-bottom: -0.2rem;
   height: 100%;
    text-align: center;
  
}

.big-heading-link-cont>div>h1:before{ 
    padding: 0 1rem;
    transition: height 0.6s ease;
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    font-weight: 700;
     height: 100%; 
     color: black;
     font-size:1.2rem;
     -webkit-text-stroke-width:0.4px;
     -webkit-text-stroke-color:   white  ; 
    left: 0;
    top: 0;
    text-align: center;
}
.big-heading-link-cont>div>h1:hover:before{
    height: 0;
}
.small-text-cont>h1{
    font-size: 3rem;

}

.global-tech-cont{
    height: auto;
    padding-right:1rem ;
}
.big-text-cont{
    margin-top: 1rem;
}
.small-text-cont{
    padding: 0.2rem 1rem;
     padding-right: 0;
}
.small-text-cont>*{
    line-height: 1;
}
.small-text-cont>h1{
    padding-top: 0.5rem;
    margin-bottom: -0.1rem;
    font-size: 1.7rem;
    font-weight: 500;
}
 .small-text-cont>p{
     font-size: 12px;
     font-weight: 400;
     padding-top: 1rem;
     padding-bottom: 0%;
     
 }
 .our-influencer-wrapper{
     display: grid;
   
     width: 100%;
 }
 .our-influencer-wrapper>.influencers{
    display: flex;
    
    height: auto;
    /* background-color: #AA3EA0; */
    margin: 0rem 0;
    margin-left: 0rem;
    width: calc( 100% - 2rem ) ;
    margin: 1rem ;
     
}

.influencers>div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
img.influencer-img{
    width: calc( 100vw - 2rem );
    height: auto;
}
 .influencer-data{
     
     color: white;
     width: 100%;
     
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-left: 0;
 }
.influencer-data>div{
  padding: 0.5rem 1rem;
  text-align: center;

}
 .influencer-data>div>h1{
     font-size: 2.3rem;
     color: orange;
     background: linear-gradient(to right, #F15A24 , #F7931E  );
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
     font-weight: 600;
 }
  
  .influencer-data>div>h3{
      font-size: 12px;
  }
 .our-influencer-wrapper>div.influencer-data{
   display: flex;
   flex-direction: row;
 }
.client-heading{
    height: auto;
    padding: 1rem;
}
.back-img{
    margin-bottom: -3rem ;
}
.client-heading .text{
    padding: 1rem 0 0 0;
}
  .client-heading>div>h1{
    font-size: 2.3rem;
  }
  .client-heading>div>p{
      font-size: 13px;
      margin-bottom: 0;
  }
   .brands-cont{
       padding: 1rem;
   }
  .brands-img-wrap>img{
      width: 4rem;
  }
.ready-to-join-us{
    height: 100vw;
    
}
  .upper-cont{
      display: flex;
      
  }
  .upper-cont>h1{
      font-size:1.8rem;
      font-weight: 600;
      width: 70%;
       padding: 1rem;
     margin-right: 0rem;
  }
  .upper-cont>form{
      width: calc( 100% - 2rem );
      margin: 1rem;
  }
  img.keyboard{
   width: 18rem;
   top: -11rem;
    left: 3rem;
  }
  img.book{
      width: 14rem;
      top: 14rem;
      left: -5rem;
  }
  img.pen{
      width: 12rem;
      bottom: -10rem;
      left: 4rem
  }
 img.joinus{
      width: 100vw;
 }
.ready-to-join-us form{
    height: 2.5rem;
    margin: 0 2rem;
    position: absolute;
    width: calc( 80% - 4rem );
    display: flex;
    left: 0rem;
    top: 7rem;
    align-items: center;
}
 
.ready-to-join-us form button{
    font-size: 12px;
    height: 1.8rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
     width: auto;
}

.upper-cont h1{
    position: absolute;
    top: 44vw;
     right: -3rem;
}

.upper-cont h1>span{
    font-size: 2.3rem;
}
 
  
}
@media (max-width: 560px){
    .global-img-cont{

        height:33rem;
    }
}
@media (max-width: 520px){
    .global-img-cont{

        height:31rem;
    }
}@media (max-width: 470px){
    .global-img-cont{

        height:28rem;
    }
}
@media (max-width: 440px){
    .global-img-cont{

        height:26rem;
    }
}
@media (max-width: 410px){
    .global-img-cont{

        height:25rem;
    }
}
@media (max-width: 380px){

    .influencer-page-cont span{
        font-size: 2.7rem;
    }
}