
/* 

.footer{
    padding: 1rem;
}

.page-links{
padding: 1rem 0;
}

.page-links>*{
    color: rgb(199, 197, 197);
    text-decoration: none;
    font-size: 15px;
     
}
.links>*{
    padding-right: 1rem;
}
 
.contacts>*{
    padding: 0.5rem 0;
}
.contacts>*>span{
    padding-left: 0.5rem;
    margin-top: -0.5rem;
}
.footer p ,span{
    color: rgb(211, 206, 206);
}
@media (max-width:625px){
.footer-wrapper>div{
    margin: 1rem ;
}
} */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

/* * {
  font-family: Open Sans;
} */

/* section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
} */

.Pink{
  background: #222;
  text-align: center;
  font-size: 2rem;
  color: #f8971d;
  font-weight: 500;
  position: relative;
  z-index: 10;
}

.footer-distributed{
	background: #000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
  /* position: fixed; */
  z-index: -10;
	left: 0;
	right: 0;
	bottom: 0;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
    font-weight:400;
	text-decoration: none;
	color:  #f8971d;
	padding-left: 0.3rem;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}
.footer-center>div{
	display: flex;
	align-items: center;
	margin-right: 2rem;
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
    font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  /* content: "|"; */
  font-weight:300;
  font-size: 20px;
  left: 0;
  padding:0 0.3rem ;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
 
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}
.footer-links>a{
	transition: all 0.2s ease-out;
}
.footer-links>a:hover{
  color: #f8971d;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
	transition: all 0.2s ease-in;
}
.footer-company-about:hover{
	color: #bbc1c7 ;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	transition: all 0.2s ease-in;
	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-icons>.twitt:hover{
  background-color: #1da1f2;
}

.footer-icons>.face:hover{
  background-color: #4267b2;
}

.footer-icons>.linkd:hover{
  background-color: #0077b5;
}

.footer-icons>.insta:hover{
  background-color: #ff927c;
}
.footer-distributed .footer-center p>a{
	color: #fff;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 720px) {

	.footer-distributed{
		font: bold 14px sans-serif;
		padding: 1rem;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}
	.footer-distributed .footer-left a{
		font-size: 12px;

	} 
.footer-distributed>div>div{
	display: flex;
	align-items: center;
	margin-right: 0;
}
.footer-center{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
.footer-center>div{
	display: flex;
	flex-direction: column;
}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
		font-size: 1.3rem;
	   margin-top: 0;
	   margin-right: 0;
	   margin-bottom: 0;
	   text-align: center;
	  background: none;
	}
 .footer-distributed .footer-center p{
	 color: #f8971d;
	 font-size: 12px;
 }
.footer-distributed .footer-center p>a{
	color: #f8971d;
}
.footer-distributed .footer-center i{
	background-color: #f8971d;
	font-size: 1rem;
	margin-top: 1rem;
	margin-bottom: 0.4rem;
	width: 1.7rem;
	height: 1.7rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-distributed .footer-right span{
	color:#f8971d;
}
.footer-icons{
	 
	display: flex;
	justify-content: center;
}
.footer-distributed .footer-icons >a{
	border-radius: 50%;
	background-color: #f8971d;
}
}