
.footer{
    padding: 1rem;
}

.page-links{
padding: 1rem 0;
}

.page-links>*{
    color: rgb(199, 197, 197);
    text-decoration: none;
    font-size: 15px;
     
}
.links>*{
    padding-right: 1rem;
}
 
.contacts>*{
    padding: 0.5rem 0;
}
.contacts>*>span{
    padding-left: 0.5rem;
    margin-top: -0.5rem;
}

@media (max-width:625px){
.footer-wrapper>div{
    margin: 1rem ;
}
}